

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

p {
  padding: 40px;
  color: darkblue;

}

figure {
  padding:5px;
}

figcaption {
  color: blue;
  font-size: 12px;
  font-style: italic;
  padding: 0px
  margin-left: 40px

}


a {
  text-decoration: none;
  color: blue;
  font-size: 15px;
  }

ul {
  background: white;
  color: blue;
  margin:3px;
  padding-left: 5px;
}




li {
    color: blue;
    background: white;
    display: block;
    float: left;
    font-size: 8px;
    padding: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
    position: relative;
    transition-duration: 0.5s;
    text-decoration: none;

}


li a {
  color: blue;
  padding: 20px;
  padding-top: 2px;
}



li:hover {
    /*rosa* #ffe1e6* gris */
    background: #f8f7f7;
    cursor: pointer;
    padding-left: 5px;
}


ul li ul {
  background: white;
  visibility: hidden;
  font-size: 8px;
  opacity: 0;
  min-width: 100px;
  max-width: width;
  position: absolute;
  transition: all 0.5s ease;
  text-align: left;
  padding-top: 1px;
  padding-bottom: 1px;
  text-decoration: none;


}


ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}



@media screen and (min-width: 600px) {
  .column {
    width: 100%;
  }

  .image {
    width: 100%;
  }
