body {
  margin-left:10px;
  max-width:1800px;
}

p {
  font-family: helvetica;
  font-size: 15px;
  margin-left: 10px;
}

img{
  max-width: 500px;
  max-height: 800px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 10px;
}

a{
  color: blue;
}

